@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto+Mono&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Roboto:wght@300&family=Rock+Salt&display=swap");
:root {
  --primary-color: #fffffa;
  --secondary-color: #0d5c63;
  --accent1-color: #00bd9d;
  --accent2-color: #001242;
  --heading-font: DynaPuff;
  --paragraph-font: Lato, "Roboto Mono", sans-serif;
  --headline-color-on-white: #001242;
  --headline-color-on-color: #fffffa;
  --paragraph-color-on-white: #001242;
  --paragraph-color-on-color: #fffffa;
  --paragraph-background-color: #0d5c63;
  --nav-link-color: #fffffa;
  --nav-background-color: #396e94;
  --nav-hover-link-color: #396e94;
  --nav-hover-background-color: #fffffa;
}

/* General Selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  max-width: 1500px;
  margin: 0 auto;
}
/* Home Section */
#home .home {
  overflow: hidden;
  position: relative;
}

/* Header Section */
#home .home header .logo {
  width: 150px;
  height: 100px;
}
#home .home header .logo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#home .home header {
  background: #000;
  height: 7%;
  display: flex;
  align-items: center;
}
#home .home header nav {
  width: 100%;
}
#home .home header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#home .home header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
#home .home header nav ul li a:hover {
  padding: 1rem 2rem;
  background-color: var(--accent1-color);
}

/* home title */
#home .home .home-msg {
  color: var(--headline-color-on-color);
  position: absolute;
  top: 25%;
  right: 3%;
  text-align: right;
}
#home .home .home-msg h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 7rem;
  width: 900px;
}
#home .home .bg {
  height: 112vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background: url(../images/computer-3174729_1280.jpg) no-repeat;
  background-position: cover;
  background-size: cover;
  margin: -6.6% auto;
}
