@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto+Mono&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Roboto:wght@300&family=Rock+Salt&display=swap");
:root {
  --primary-color: #fffffa;
  --secondary-color: #0d5c63;
  --accent1-color: #00bd9d;
  --accent2-color: #001242;
  --heading-font: DynaPuff;
  --paragraph-font: Lato, "Roboto Mono", sans-serif;
  --headline-color-on-white: #001242;
  --headline-color-on-color: #fffffa;
  --paragraph-color-on-white: #001242;
  --paragraph-color-on-color: #fffffa;
  --paragraph-background-color: #0d5c63;
  --nav-link-color: #fffffa;
  --nav-background-color: #396e94;
  --nav-hover-link-color: #396e94;
  --nav-hover-background-color: #fffffa;
}

/* General Selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  max-width: 1500px;
  margin: 0 auto;
}
/* Home Section */
#home .home {
  overflow: hidden;
  position: relative;
}

/* Header Section */
#home .home header .logo {
  width: 150px;
  height: 100px;
}
#home .home header .logo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#home .home header {
  height: 7%;
  display: flex;
  align-items: center;
}
#home .home header nav {
  width: 100%;
}
#home .home header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#home .home header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
#home .home header nav ul li a:hover {
  padding: 1rem 2rem;
  background-color: var(--accent1-color);
}

/* home title */
#home .home .home-msg {
  color: var(--headline-color-on-color);
  position: absolute;
  top: 25%;
  left: 3%;
}
#home .home .home-msg h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 7rem;
  width: 900px;
}
#home .home .bg {
  height: 85vh;
  width: 100vw;
  overflow: hidden;
}
#home .home .bg video {
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Tip Section */
#tips {
  height: 100vh;
  /* background: #f4f3fd; */
  /* background: #00bd9d; */
  background: #001242be;
  color: var(--headline-color-on-color);
}
#tips .tip-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3% 0%;
}
#tips .tip-header h2 {
  font-size: 3rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
}
#tips .tip-header p {
  width: 90%;
  font-size: 1rem;
  text-align: center;
}
#tips .tips {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
#tips .tips .tip-card {
  width: 300px;
  height: 450px;
  padding: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}
#tips .tips .tip-card .tips-img {
  width: 280px;
  height: 200px;
}
#tips .tips .tip-card .tips-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#tips .tips .tip-card .tips-content {
  padding: 10px;
}
#tips .tips .tip-card .tips-content p {
  font-size: 0.9rem;
}

/* Welcome Section */
#welcome {
}

#welcome .welcome .welcome-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  /* background: #f4f3fd; */
  /* background: #00bd9d; */
  background: #001242be;
  color: var(--headline-color-on-color);
}
#welcome .welcome .welcome-grid .welcome-header {
  text-align: center;
  padding-bottom: 5%;
}
#welcome .welcome .welcome-grid .welcome-header h2 {
  font-size: 3.5rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}
#welcome .welcome .welcome-grid .welcome-content {
  width: 700px;
}
#welcome .welcome .welcome-grid .welcome-content p {
  font-size: 1rem;
  line-height: 25px;
}
/* Footer Section */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background: var(--accent2-color);
  color: var(--headline-color-on-color);
}

footer p {
  font-weight: bold;
  font-size: 1.2rem;
}
footer .social-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .social-links a i {
  font-size: 2rem;
}

footer p:hover {
  background: var(--accent1-color);
  padding: 1rem 2rem;
}
